@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Questrial&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  border: 0;
  outline: 0;
}

:root {
  --theme-color-1: rgb(195, 0, 255);
  --theme-color-2: rgb(149, 0, 218);
  --theme-color-2-hover: rgb(107, 38, 218);
  --theme-color-3: white;
  --theme-color-4: black;
  --black-mirror: rgba(0, 0, 0, 0.8);
}

::selection {
  border: none;
  background-color: none;
}
::-moz-selection {
  border: none;
  background-color: none;
}

html {
  scroll-behavior: smooth;
  /* scroll-snap-type: y proximity;
    scroll-padding-top: 100px;
    scroll-snap-stop: always; */
}

body {
  position: relative;
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
  cursor: pointer;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}
::-webkit-scrollbar-thumb {
  background-color: var(--theme-color-2-hover);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--theme-color-2);
}

nav {
  position: fixed;
  background-color: var(--theme-color-2);
  width: 100vw;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

.logo {
  padding: 10px;
}

.logo img {
  width: 120px;
  animation: logo 1s cubic-bezier(1, 0.02, 0, 0.99) 0s infinite alternate;
}

@keyframes logo {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.9);
  }
}

.option-list {
  list-style: none;
  display: flex;
  font-size: 16px;
  height: 100%;
  align-items: center;
  color: white;
}

.option-list a {
  color: white;
  text-decoration: none;
}

.option {
  position: relative;
  padding: 0px 30px;
  height: 100px;
  line-height: 100px;
}

.option:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.sub-option-list {
  font-size: 16px;
  position: absolute;
  list-style: none;
  text-align: center;
  top: 100%;
  left: -50%;
  display: none;
}

.sub-option {
  background-color: var(--black-mirror);
  width: 200px;
}

.sub-option:hover {
  background-color: black;
}

.option:hover .sub-option-list {
  display: block;
}

#burger {
  color: white;
  margin-left: auto;
  margin-right: 30px;
  display: none;
}

@media (max-width: 700px) {
  ::-webkit-scrollbar {
    width: 0;
  }

  html {
    /* scroll-padding-top: 60px; */
  }

  nav {
    position: fixed;
    min-height: 60px;
    max-height: 60px;
  }

  .logo img {
    width: 55px;
  }

  #burger {
    display: block;
    transition-duration: 1s;
  }
  #burger:hover {
    transform: scale(1.2);
    cursor: pointer;
  }
  .option-list {
    width: 100vw;
    max-width: auto;
    flex-direction: column;
    position: absolute;
    top: 0;
    transform: translateY(60px);
    height: calc(100vh - 60px);
    overflow-y: scroll;
    right: 0;
    text-align: center;
    /* display: none; */
    visibility: hidden;
    font-size: 5px;
  }
  .option-list.control {
    visibility: visible;
    font-size: 25px;
    transition-duration: 0.5s;
  }
  .option {
    padding-top: calc((100vh - 300px - 3px) / 8);
    padding-bottom: calc((100vh - 300px - 3px) / 8);
    background-color: var(--theme-color-1);
    line-height: 60px;
    width: 100vw;
    height: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  .option-list a:last-of-type > li {
    border: 0;
  }

  .option:hover {
    transform: scale(1);
    background-color: black;
  }
  .sub-option-list {
    position: relative;
    top: 30px;
    left: -30px;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.377);
    margin: auto;
  }
  .sub-option {
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 15px 0;
  }
  .option:hover .sub-option-list {
    display: block;
  }
}

.main-container {
  position: absolute;
  top: 100px;
}

.page {
  width: calc(100vw - 10px);
  min-height: calc(100vh - 100px);
  scroll-snap-align: start;
}

.indicators {
  position: absolute;
  width: 100px;
  height: 100px;
  /* background-color: green; */
  transform: translateY(-100px);
}

#home-page {
  color: var(--theme-color-4);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--theme-color-3);
  text-align: center;
}

#home-page img {
  float: right;
  width: 20vmax;
  height: 20vmax;
  border-radius: 20vmax;
  overflow: hidden;
  text-align: center;
  display: flex;
  justify-content: center;
  border: 10px solid var(--theme-color-2);
  object-fit: cover;
}

#home-page h1 {
  font-size: 6vmax;
}

#home-page h2 {
  color: var(--theme-color-2);
  font-size: 5vmax;
}

#home-page p {
  text-align: center;
  font-size: 2vmax;
  width: 50vw;
}

#home-page p span {
  color: var(--theme-color-2);
  font-weight: bolder;
}

#skills-page {
  background-color: var(--theme-color-1);
  color: white;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;
}

#skills-page h1 {
  font-size: 7vmax;
}

#skills-page ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  font-size: 2vmax;
}

#projects-page {
  background-color: var(--theme-color-3);
  color: var(--theme-color-4);
  max-width: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
}

#projects-page h1 {
  font-size: 3vmax;
  width: 80%;
  padding: 10px;
  margin: auto;
}

#projects-page main {
  display: block;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 20px;
}

#projects-page section {
  background-color: black;
  color: white;
  border-radius: 5px;
  text-align: center;
  margin: 20px auto;
  width: 400px;
  min-height: 20vmax;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#projects-page section h3,
h5 {
  padding: 10px;
}

#projects-page section img {
  border: 2px solid black;
  background-color: black;
  width: 100%;
  height: auto;
  object-fit: cover;
}

#projects-page section img:hover {
  border: 2px solid var(--theme-color-2);
  background-color: var(--theme-color-2);
}

.gitButton {
  background-color: var(--theme-color-2);
  border: 0;
  color: white;
  margin: 5px;
  width: calc(100% - 10px);
  padding: 10px;
  font-size: 4vmin;
  cursor: pointer;
}
.gitButton:hover {
  background-color: var(--theme-color-2-hover);
}

#contactus-page {
  background-color: var(--theme-color-1);
  color: white;
  min-height: calc(100vh - 130px);
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  background-color: var(--theme-color-2);
  color: white;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

@media (max-width: 700px) {
  .main-container {
    top: 60px;
  }
  .page {
    width: calc(100vw);
    height: calc(100vh - 60px);
    scroll-snap-align: start;
  }
  #home-page {
    flex-direction: column;
    align-items: center;
  }
  #home-page img {
    min-width: 200px;
    min-height: 200px;
    border-radius: 150px;
    display: flex;
    margin: 10px;
  }

  #home-page h1 {
    font-size: 5vmax;
  }

  #home-page h2 {
    font-size: 6vmax;
    width: 100vw;
  }

  #home-page p {
    font-size: 3vmax;
    width: 100vw;
    padding: 0 10vw;
  }

  #home-page p span {
    font-weight: bolder;
  }

  #skills-page {
    display: flex;
    flex-direction: column;
  }

  #skills-page h1 {
    font-size: 8vmax;
  }

  #skills-page ul {
    font-size: 4vmax;
  }
  .indicators {
    width: 60px;
    height: 60px;
    transform: translateY(-60px);
    /* background-color: green; */
  }

  #projects-page h1 {
    font-size: 5vmax;
  }

  #projects-page section {
    width: 80vmin;
  }

  #projects-page section img {
    width: 80vmin;
    height: 40vmin;
  }
  #contactus-page {
    max-height: calc(100vh - 90px);
    margin-bottom: 0px;
  }
  footer {
    font-size: 4vmin;
    margin-bottom: 0px;
    height: auto;
  }
}
#burger img {
  width: 40px;
}
#burger.rotate {
  transform: rotateZ(90deg);
  transition-duration: 1s;
}
