/* All CSS */
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  padding: 0;
  margin: 0;
}

*:focus {
  border: 0;
  outline: 0;
}

html {
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  font-family: "Lato", sans-serif;
  position: relative;
  background-image: url(./assets/images/bg.jpg);
  background-size: cover;
}

/* Pages display CSS */

.main-page,
.registration-page,
.registered-page,
.history-page,
.entries-page {
  display: none;
}

.main-page.show,
.registration-page.show,
.registered-page.show,
.history-page.show,
.entries-page.show {
  display: block;
}

/* MAIN Page CSS */

h1 {
  font-size: 8vh;
  color: rgb(59, 59, 59);
  padding: 5vh;
  text-align: center;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 5px black;
}

.startup-logo-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  z-index: 100;
}

.startup-logo-container.show {
  display: flex;
}

.startup-logo-container > .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: zoom 1s linear forwards;
}

.startup-logo-container > .content > h1 {
  padding: 20px;
  box-shadow: none;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}

.buttons {
  position: relative;
  height: calc(100vh - 20vh);
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  font-family: "Lato", sans-serif;
  cursor: pointer;
  width: 20vw;
  padding: 5vh;
  margin: 0 10px;
  border-radius: 5px;
  border: 0;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 5px black;
  color: rgb(59, 59, 59);
  font-weight: bold;
  font-size: 3vh;
}

.btn:hover {
  filter: brightness(0.7);
}

.btn:active {
  transform: scale(0.95);
}

.info {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  padding: 10px;
  font-size: 30px;
  border-radius: 5px;
  border: 0;
  background-color: rgba(255, 255, 255, 1);
  color: rgb(36, 36, 36);
  font-weight: bold;
  box-shadow: 0 0 5px black;
}

.info:hover {
  transform: scale(1.1);
}

.info:active {
  transform: scale(0.9);
}

.message-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background-color: white;
  padding: 30px;
  width: 700px;
  max-width: 70%;
  border-radius: 5px;
  border: 2px solid black;
  transition: opacity 300ms linear;
  display: none;
  animation: zoom-info 300ms linear forwards;
}

@keyframes zoom-info {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

.message-box.show {
  display: block;
}

.message-box > .close {
  cursor: pointer;
  border: 0;
  background-color: red;
  color: white;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 30px;
  border-radius: 5px;
}

.message-box > .close:hover {
  background-color: black;
}

.message-box > .close:active {
  transform: scale(0.9);
}

.message-box > h1 {
  padding-bottom: 10px;
}

.message-box > h3 {
  padding: 10px 0;
  margin-bottom: 20px;
}

.message-box > p {
  padding: 10px;
  border-bottom: 1px solid gray;
}

.message-box > p > span {
  color: red;
  font-weight: bold;
  float: right;
}

.message-box > p:first-of-type, .message-box > p:first-of-type > span {
  background-color: gray;
  color: white;
  font-weight: bold;
}

@media (max-width: 430px) {
  h1 {
    font-size: 5vh;
  }
  .buttons {
    flex-direction: column;
    padding: 10px;
  }
  .btn {
    width: 100%;
  }
  .buttons > .btn {
    margin-bottom: 10px;
  }
  .startup-logo-container > .content > h1 {
    font-size: 15px;
  }
  .info {
    position: relative;
    align-self: flex-end;
    margin: 0;
    margin-bottom: 10px;
  }
}

/* REGISTRATION Page CSS */

.registration-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}

.form {
  background-color: white;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  max-width: 70%;
}

.form > .row {
  width: 500px;
  max-width: 100%;
  display: flex;
}

.row > .form-control:first-of-type {
  margin-right: 15px;
}
.row > .form-control:last-of-type {
  margin-left: 15px;
}

.form-control {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px 0;
}

.form-control > input {
  width: 100%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

label {
  cursor: pointer;
}

.form-control > label {
  font-size: 14px;
  margin-bottom: 5px;
  width: 100%;
  text-align: left;
}

input[type="file"] {
  cursor: pointer;
}

.form-control > input:focus {
  border-color:black;
}

.form > .btn {
  margin-top: 10px;
  background-color: black;
  color: white;
  box-shadow: none;
}


.back {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 20px;
  border: 0;
  border-radius: 5px;
  margin: 10px;
  background-color: lightgray;
}

.back:hover {
  background-color: gray;
}

.back:active {
  transform: scale(0.95);
}

@media (max-width: 430px) {

  .form {
    max-width: 70%;
  }
  
  .form > .row {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
  }

  .row > .form-control {
    width: 100%;
  }

  .row > .form-control:first-of-type {
    margin-right: 0;
  }

  .row > .form-control:last-of-type {
    margin-left: 0;
  }

}

/* REGISTERED Page CSS */

.registered-container {
  background-color: white;
  width: 700px;
  max-width: 85%;
  margin: 20px auto;
  padding: 10px;
  border-radius: 5px;
}

.registered-page h2 {
  width: 100%;
  text-align: center;
  padding: 10px;
}

.registered-container > .headings {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  border-bottom: 1px solid lightgray;
  padding: 5px 0;
}

.registered-container > .headings > p {
  flex: 1;
}

.registered-container > .all-data {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.registered-container > .registered-msg {
  text-align: center;
  padding: 30px;
  display: block;
}

.registered-container > .registered-msg.hide {
  display: none;
}

.registered-container > .all-data.hide {
  display: none;
}

.registered-container > .all-data > .data {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.registered-container > .all-data > .data > p {
  flex: 1;
}

.registered-container > .all-data > .data > .delete {
  cursor: pointer;
  background-color: red;
  border: 0;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.registered-container > .all-data > .data > .delete:hover {
  background-color: black;
}

.registered-container > .all-data > .data > .delete:active {
  transform: scale(0.9);
}

@media (max-width: 430px){
  .registered-container > .headings {
    flex-direction: column;
  }
  .registered-container > .all-data > .data {
    flex-direction: column;
  }
  .registered-container > .all-data > .data > .delete {
    margin-bottom: 20px;
  }
}

/* HISTORY Page CSS */

.history-container {
  background-color: white;
  width: 700px;
  max-width: 90%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.history-container h2 {
  padding: 20px;
  text-align: center;
}

.history-container > .all-drivers-list {
  width: 100%;
  display: none;
}

.history-container > .all-drivers-list.show {
  display: block;
}

.all-drivers-list > .history-msg {
  text-align: center;
  padding: 20px;
  display: none;
}

.all-drivers-list > .history-msg.show {
  display: block;
}

.all-drivers-list > .list-container {
  display: none;
}

.all-drivers-list > .list-container.show {
  display: block;
}

.history-container > .all-drivers-list > ul {
  list-style: none;
  padding: 10px;
  padding-top: 0;
}

.history-container > .all-drivers-list > ul > li {
  cursor: pointer;
  margin: 0 10px 10px;
  padding: 10px;
  background-color: rgb(65, 65, 65);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
}

.history-container > .all-drivers-list > ul > li:hover {
  transform: scale(1.03);
}

.history-container > .all-drivers-list > ul > li > span {
  flex: 1;
}

.driver-history-container {
  display: none;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.driver-history-container.show {
  display: flex;
}

.driver-history-container > ul {
  width: 95%;
  list-style: none;
  margin: 0 auto;
  padding-bottom: 10px;
}

.driver-history-container > ul:first-of-type > li {
  font-weight: bold;
  border-bottom: 1px solid gray;
  padding-bottom: 5px;
  flex: 1;
}

.driver-history-container > ul > li {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.driver-history-container > ul > li > span {
  flex: 1;
}

.record-msg {
  padding: 20px;
  display: none;
}

.record-msg.show {
  display: block;
}

@media (max-width: 430px) {
  .history-container > .all-drivers-list > ul > li {
    flex-direction: column;
  }
}

/* ENTRIES Page CSS */

.entries-container {
  width: 500px;
  max-width: 85%;
  margin: 20px auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 5px  ;
}

.entries-container > form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.entries-container .form-control {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.entries-container .form-control input {
  border-color: gray;
  flex: 1;
}

.entries-container .form-control > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px;
  flex: 1;
}

.scan {
  cursor: pointer;
  background-color: black;
  color: white;
  border: 0;
  padding: 5px;
  border-radius: 5px;
}

.scan:hover {
  filter: brightness(0.7);
}

.scan:active {
  transform: scale(0.9);
}

.entries-container .form-control input:focus {
  border-color: black;
}

.entries-container > .btn {
  margin-top: 10px;
  background-color: black;
  color: white;
  box-shadow: none;
}